In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("train.csv")
df

      id  gravity    ph  osmo  cond  urea  calc  target
0      0    1.013  6.19   443  14.8   124  1.45       0
1      1    1.025  5.40   703  23.6   394  4.18       0
2      2    1.009  6.13   371  24.5   159  9.04       0
3      3    1.021  4.91   442  20.8   398  6.63       1
4      4    1.021  5.53   874  17.8   385  2.21       1
..   ...      ...   ...   ...   ...   ...   ...     ...
409  409    1.011  5.21   527  21.4    75  1.53       0
410  410    1.024  5.53   577  19.7   224  0.77       0
411  411    1.018  6.28   455  22.2   270  7.68       1
412  412    1.008  7.12   325  12.6    75  1.03       1
413  413    1.011  6.13   364   9.9   159  0.27       0

[414 rows x 8 columns]

In [3]:
#z score normalization
cols=['gravity','ph','osmo','cond','urea','calc']
for i in cols:
    df[i]=(df[i]-np.mean(df[i]))/np.std(df[i])

In [4]:
df

      id   gravity        ph      osmo      cond      urea      calc  target
0      0 -0.734032  0.365623 -0.889728 -0.884388 -1.134869 -0.829136       0
1      1  1.065904 -0.865897  0.219521  0.288059  0.846384  0.020338       0
2      2 -1.334010  0.272090 -1.196904  0.407969 -0.878040  1.532589       0
3      3  0.465925 -1.629751 -0.893994 -0.084992  0.875736  0.782687       1
4      4  0.465925 -0.663242  0.949065 -0.484690  0.780342 -0.592652       1
..   ...       ...       ...       ...       ...       ...       ...     ...
409  409 -1.034021 -1.162085 -0.531355 -0.005053 -1.494430 -0.804243       0
410  410  0.915909 -0.663242 -0.318038 -0.231548 -0.401072 -1.040727       0
411  411  0.015941  0.505922 -0.838532  0.101534 -0.063525  1.109408       1
412  412 -1.484005  1.815386 -1.393156 -1.177500 -1.494430 -0.959824       1
413  413 -1.034021  0.272090 -1.226768 -1.537228 -0.878040 -1.196308       0

[414 rows x 8 columns]

In [5]:
#Split X and Y
X=df.drop(['target','id'],axis=1)
Y=df['target']

In [6]:
#splitting train and test
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y,shuffle=True,test_size=0.30)

In [7]:
x_train.shape

(289, 6)

In [18]:
#Fitting k-nn
from sklearn.neighbors import KNeighborsClassifier
import time

start=time.time()
n=KNeighborsClassifier(n_neighbors=17)
n.fit(x_train,y_train)

end=time.time()
duration=end-start

In [19]:
duration

0.0026688575744628906

In [20]:
from sklearn.metrics import precision_score,recall_score,f1_score,confusion_matrix

In [21]:
#metrics for train


#On train and test
ypred=n.predict(x_train)
precision=precision_score(y_train,ypred)
recall=recall_score(y_train,ypred)
f1=f1_score(y_train,ypred)
c=confusion_matrix(y_train,ypred)
sensitivity=c[0][0]/(c[0][0]+c[1][0])
specificity=c[1][1]/(c[1][1]+c[0][1])
accuracy=n.score(x_train,y_train)

In [22]:
precision,recall,f1,c,sensitivity,specificity,accuracy

(0.6984126984126984,
 0.7333333333333333,
 0.7154471544715446,
 array([[131,  38],
        [ 32,  88]], dtype=int64),
 0.803680981595092,
 0.6984126984126984,
 0.7577854671280276)

In [193]:
#metrics for test
from sklearn.metrics import precision_score,recall_score,f1_score,confusion_matrix

#On test

#time for prediction
start_p=time.time()
ypred=n.predict(x_test)
stop_p=time.time()

duration_test=stop_p-start_p

precision=precision_score(y_test,ypred)
recall=recall_score(y_test,ypred)
f1=f1_score(y_test,ypred)
c=confusion_matrix(y_test,ypred)
sensitivity=c[0][0]/(c[0][0]+c[1][0])
specificity=c[1][1]/(c[1][1]+c[0][1])
accuracy=n.score(x_test,y_test)

In [194]:
duration_test

0.010773420333862305

In [195]:
precision,recall,f1,c,sensitivity,specificity,accuracy

(0.5862068965517241,
 0.3090909090909091,
 0.4047619047619047,
 array([[58, 12],
        [38, 17]], dtype=int64),
 0.6041666666666666,
 0.5862068965517241,
 0.6)